
body {
    font-family: "sans-serif"
}

header {
    background-color: #21242C;
    color: white;
    margin: 0px;
    padding: 5px;
    display: flex;
}

h1 {
    font-size: 20px;
    position: relative;
}

#input, #output {
    font-family: "mono"
    font-size: "11"
}
