<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex,nofollow">
        <title>Amara link creator</title>
        <meta name="description" content="A tool for Language Advocates to generate Amara links from YouTube IDs.">
        <meta name="author" content="Daniel Hollas">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                font-family: "sans-serif";
            }
            header {
                background-color: #21242C;
                color: white;
                margin: 0px;
                padding: 5px;
                display: flex;
            }
            h1 {
                font-size: 20px;
                position: relative;
            }
            #input, #output {
                font-family: "mono"
                font-size: "11"
            }
            table {
                margin: 5px;
            }
            .khan-logo {
                transform: rotate(180deg);
            }
            .youtube-id {
                color: #c7254e;
                background-color: #f9f2f4;
                font-family: "mono";
                font-size: 10;
            }
            .amara-link {
                font-family: "mono";
                font-size: 10;
            }
            footer {
                margin: 10px;
                font-size: small;
            }
            footer::after {
                content: "💜"
            }
        </style>
    </head>
    <body>

        <header>
            <!--Khan Academy logo (taken from Translation Editor-->
            <svg class="khan-logo" aria-hidden="true" width="24px" height="24px" viewBox="0 0 24 24"><path d="m2.4 4.97c-0.77 0.44-1.4 1.51-1.4 2.40v9.26c0 0.88 0.63 1.96 1.4 2.40l8.2 4.65c0.77 0.44 2.03 0.44 2.8 0l8.2-4.65c0.77-0.44 1.4-1.51 1.4-2.40v-9.26c0-0.88-0.63-1.96-1.4-2.40l-8.2-4.65c-0.77-0.44-2.03-0.44-2.8 0l-8.2 4.65z" clip-rule="evenodd" fill="#14BF96" fill-rule="evenodd"></path><path d="m20.45 10.16c-4.57 0.02-7.99 3.65-7.99 8.13v0.19h-0.92v-0.19c0-4.47-3.42-8.10-8.00-8.13-0.03 0.28-0.05 0.57-0.05 0.85 0 3.50 2.27 6.48 5.44 7.63 0.91 0.34 2.02 0.52 3.05 0.52 1.03 0 2.16-0.18 3.07-0.52 3.17-1.14 5.43-4.13 5.43-7.63 0-0.29-0.02-0.57-0.05-0.85z" clip-rule="evenodd" fill="#fff" fill-rule="evenodd"></path><path d="m12 10.66c1.52 0 2.75-1.23 2.75-2.75 0-1.52-1.23-2.75-2.75-2.75-1.52 0-2.75 1.23-2.75 2.75 0 1.52 1.23 2.75 2.75 2.75z" clip-rule="evenodd" fill="#fff" fill-rule="evenodd"></path></svg>
            <h1> Amara link creator </h1>
        </header>

        <main>
            <h2>Generate Khan Academy Amara links from YouTube IDs</h2>
            <form>
                <input type="text" id="lang" name="lang" maxlength="4" minlength="2" size="4" placeholder="lang" required spellcheck="false"><br>
                <textarea id="input" name="input" rows="20" placeholder="YouTubeIDs (one per line)" autocomplete="off" required spellcheck="false"></textarea><br>
                <button id="btn-send">Send</button><span id="notification"> </span><br>
                <input type="checkbox" id="public" name="public" value="true">
                <label for="public">Link to public Amara video (use only for videos outside of main KA channels!)</label><br>
            </form>

            <br>
            <br>
            <table>
                <thead>
                <tr>
                    <th>YouTube IDs</th>
                    <th>Amara IDs</th>
                    <th>Amara links</th>
                </tr>
                </thead>
                <tbody id="output">
                </tbody>
            </table>

        </main>

        <hr>
        <footer>Created by Daniel Hollas for
            <a href="https://international-forum.khanacademy.org/" target="blank">
                Khan Academy International Community
            </a>
        </footer>

        <script>
        let notification = document.getElementById("notification")

        function validateYoutubeId(youtube_id) {
            if (typeof youtube_id !== 'string') return false;
            if (!youtube_id.match(/^[a-zA-Z0-9_-]{11}$/)) {
                return false;
            }
            return true;
        };

        function validateLanguage(lang) {
            // Amara uses bcp47. The regex was taken from
            // https://github.com/SafetyCulture/bcp47/blob/develop/src/index.js
            const pattern = /^(?:(en-GB-oed|i-ami|i-bnn|i-default|i-enochian|i-hak|i-klingon|i-lux|i-mingo|i-navajo|i-pwn|i-tao|i-tay|i-tsu|sgn-BE-FR|sgn-BE-NL|sgn-CH-DE)|(art-lojban|cel-gaulish|no-bok|no-nyn|zh-guoyu|zh-hakka|zh-min|zh-min-nan|zh-xiang))$|^((?:[a-z]{2,3}(?:(?:-[a-z]{3}){1,3})?)|[a-z]{4}|[a-z]{5,8})(?:-([a-z]{4}))?(?:-([a-z]{2}|\d{3}))?((?:-(?:[\da-z]{5,8}|\d[\da-z]{3}))*)?((?:-[\da-wy-z](?:-[\da-z]{2,8})+)*)?(-x(?:-[\da-z]{1,8})+)?$|^(x(?:-[\da-z]{1,8})+)$/i; // eslint-disable-line max-len
            // but let's be less strict for now
            if (typeof lang !== 'string') return false;
            return pattern.test(lang);
        }

        function insertRow(youtube_id) {
            let row = document.createElement('TR');
            let col1 = document.createElement('TD');
            let col2 = document.createElement('TD');
            let col3 = document.createElement('TD');
            col1.innerHTML = youtube_id;
            col1.className = "youtube-id";
            col2.className = "amara-id";
            col3.className = "video-link";
            row.id = youtube_id;
            row.appendChild(col1);
            row.appendChild(col2);
            row.appendChild(col3);
            document.getElementById('output').appendChild(row);
        }

        function processResponse() {
            if (this.readyState == 4 && this.status == 200) {
                const response = JSON.parse(this.responseText);
                for (youtube_id in response) {
                    const amara_id = response[youtube_id][0];
                    const amara_link = response[youtube_id][1];
                    const row = document.getElementById(youtube_id);
                    row.childNodes[1].innerHTML = amara_id;
                    if (amara_link) {
                        let link = document.createElement('A');
                        link.href = amara_link;
                        link.innerHTML = amara_link;
                        link.target = "_blank";
                        row.childNodes[2].appendChild(link);
                    }
                }
            } else if (this.readyState == 4) {
                console.log(this);
                notification.innerHTML += "Request Error " + this.status;
                //document.getElementById(youtube_id).innerHTML =
                //    this.responseText;
            }
        };

        function sendRequest(youtube_id, lang, public_amara) {
            const url_template =
              "{{url_for('get_amara_link', lang='LANG', youtube_id='YOUTUBEID') }}";
            let xhttp = new XMLHttpRequest();
            let url = url_template.replace('LANG', lang)
                                    .replace('YOUTUBEID', youtube_id);
            if (public_amara) {
                url += "?public=true";
            }
            xhttp.onreadystatechange = processResponse;
            xhttp.open("GET", url, true);
            xhttp.send();
        }

        document.getElementById("btn-send").addEventListener('click', e => {
            e.preventDefault();
            notification.innerHTML = "";
            document.getElementById('output').innerHTML = "";
            const lang = document.getElementById("lang").value.trim();
            if (!validateLanguage(lang)) {
                notification.innerHTML += "Invalid language";
                return;
            }

            const public_amara = document.getElementById("public").checked;

            const input = document.getElementById("input").value;

            // TODO: Get rid of this limitation (or make it larger) by batching requests
            const MAX_REQUESTS = 100;
            const youtube_ids = input.replace('\r', '').split('\n');
            if (youtube_ids.length > MAX_REQUESTS) {
              notification.innerHTML += `Too many YouTube IDs (maximum ${MAX_REQUESTS})`;
              return;
            }
            youtube_ids.forEach(youtube_id => {
                youtube_id = youtube_id.trim();
                insertRow(youtube_id);
                if (!validateYoutubeId(youtube_id)) {
                    document.getElementById(youtube_id).innerHTML = "Invalid YouTube ID";
                    return;
                }
                sendRequest(youtube_id, lang, public_amara);
            });
        });
    </script>

    </body>

</html>
